{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="bg-light mt-4 p-4">
                <h1>Регистрация</h1>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.login, {
                        label: 'Логин'
                    }) }}
                    {{ form_row(registrationForm.fullName, {
                        label: 'Полное имя'
                    }) }}
                    {{ form_row(registrationForm.email, {
                        label: 'Электронная почта'
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Пароль'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms, {
                        label: 'Согласие с условиями'
                    }) }}
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
