{% extends 'base.html.twig' %}

{% block body %}
  <div class="container"> 
    <article class="post">  
    <h3>{{ post.title}}</h3>
    <p class="post-metadata">
        <span class="metadata border border-primary"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata border border-primary"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
        <span class="metadata border border-primary"><i class="fa fa-tag"></i> {{ post.topic }}</span>
    </p>
    <p>
        {{post.content}}
    </p>
              <a class="btn btn-primary" href="{{ path('app_show_comments', {
                id: post.id
            }) }}" role="button">Показать комментарии</a>
    </article>
  </div>
{% endblock %}