{% extends 'base.html.twig' %}

{% block body %}
  <div class="container"> 
    <article class="post">  
    <h3>{{ post.title}}</h3>
    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.createdAt }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author }}</span>
        <span class="metadata"><i class="fa fa-tag"></i> {{ post.topic }}</span>
    </p>
    <p>
        {{post.text}}
    </p>
    </article>
  </div>
{% endblock %}